<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram User Profile</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="user-profile">
      <div class="user-profile-data">
        <h1>kimeebeen</h1>
        <dl>
          <div>
            <dt>게시물</dt>
            <dd>0</dd>
          </div>
          <div>
            <dt>팔로워</dt>
            <dd>388</dd>
          </div>
          <div>
            <dt>팔로우</dt>
            <dd>402</dd>
          </div>
        </dl>
        <h2>김희빈</h2>
        <p>👩🏻‍💻</p>
        <a href="https://github.com/kmebin">https://github.com/kmebin</a>
      </div>
      <div class="user-profile-photo">
        <img src="https://avatars.githubusercontent.com/u/72112845?v=4" alt="" />
      </div>
    </div>
  </body>
</html>
